<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Add or Edit a Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{myFragment :: my-header}"></div>

    <div>
        <h2 th:text="${title2}">Add or Edit a Student</h2>
        <form th:object="${student}" th:action="@{/students/save}" method="post">
            <input type="hidden" th:field="*{ra}" />
            <label>First Name:</label> <input type="text" th:field="*{firstName}" />
            <label>Last Name:</label> <input type="text" th:field="*{lastName}" />
            <label>Course:</label> <input type="text" th:field="*{course}" />
            <label>Period:</label>
            <select th:field="*{period}">
                <option th:each="periodOption : ${periodOptions}" th:value="${periodOption}" th:text="${periodOption}"></option>
            </select>
            <button type="submit">Save</button>
        </form>
    </div>

    <div th:replace="~{myFragment :: my-footer}"></div>
</body>
</html>